Source: plutosdr
Maintainer: Andrey Rodionov <dernasherbrezon@gmail.com>
Section: admin
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9.0.0), cmake, libiio-dev (>= 0.7), pkg-config
Homepage: https://github.com/dernasherbrezon/plutosdr

Package: plutosdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libiio0
Description: Configures low bandwidth mode for plutosdr 
 This application configures plutosdr to run in low bandwidth
 mode: 520khz. This is suitable for narrowband telemetry and
 radio amateur protocols.